@font-face {
	font-family: Poppins;
	src: url(/assets/Poppins-Regular.ttf);
}
@font-face {
	font-family: PoppinsBold;
	src: url(/assets/Poppins-Bold.ttf);
}
@font-face {
	font-family: Ubuntu;
	src: url(/assets/Ubuntu-Regular.ttf);
}
body {
	background-color: #674bfe;
}

footer {
	font-family: Ubuntu;
}

.titlemargin {
	margin-top: 3%;
	margin-right: 12%;
	margin-left: 12%;
}
.navfont {
	font-family: Ubuntu;
	font-weight: 300;
}

.featuresicon {
	color: #674bfe;
}

h2,
h3 {
	font-family: PoppinsBold;
}
h1 {
	font-family: PoppinsBold;
	font-size: 37pt;
}

.poppinsbold {
	font-family: PoppinsBold;
	font-size: 25pt;
}

.testimonialdog {
	border-radius: 50%;
}

@media only screen and (min-width: 768px) {
	.rotateimage {
		width: 303px;
		max-width: initial;
		min-width: initial;
		max-height: initial;
		min-height: auto;
		transform: rotate(25deg);
		margin: 2%;
		margin-left: 17%;
	}
	.containerparent {
		height: 400px;
		position: relative;
		margin-top: -4%;
	}
	.fixed {
		height: 200px;
	}

	.containerchild {
		width: 150%;
		max-height: 100%;
		max-width: 200%;
		/* border: 0.25em solid #000; */
		overflow: hidden;
		position: absolute;
		margin-left: -30%;
		margin-right: 30%;
		margin-top: 0;
	}

	.imagemd {
		width: 15%;
		height: auto;
	}
}
@media only screen and (max-width: 768px) {
	.titlefontsm {
		font-size: 26pt;
		font-weight: bolder;
	}
	.imagesm {
		width: 25%;
		height: auto;
	}
	.iconssm {
		font-size: 19pt;
	}

	.dogappimg {
		width: 65%;
		height: auto;
	}
}
