body {
	background-color: #674bfe;
}

footer {
	font-family: Ubuntu;
}

.titlemargin {
	margin-top: 3%;
	margin-right: 12%;
	margin-left: 12%;
}
.navfont {
	font-family: Ubuntu;
	font-weight: 400;
}

.featuresicon {
	color: #674bfe;
}

h2,
h3 {
	font-family: Poppins;
}
h1 {
	font-family: Poppins;
	font-size: 39pt;
}

.poppinsbold {
	font-family: Poppins;
	font-size: 25pt;
}

.testimonialdog {
	border-radius: 50%;
}

.ctacontainer {
	height: 250px;
}

@media only screen and (min-width: 768px) {
	.rotateimage {
		width: 303px;
		max-width: initial;
		min-width: initial;
		max-height: initial;
		min-height: auto;
		transform: rotate(25deg);
		margin: 2%;
		margin-left: 20%;
	}
	.containerparent {
		height: 400px;
		width: 400px;
		position: relative;
		margin-top: -4%;
	}
	.fixed {
		height: 200px;
	}

	.containerchild {
		width: 155%;
		max-height: 100%;
		max-width: 200%;
		/*border: 0.25em solid #000;*/
		overflow: hidden;
		position: absolute;
		margin-left: -30%;

		margin-top: 0;
	}

	.imagemd {
		width: 15%;
		height: auto;
	}

	.featurescontainer {
		height: 260px;
	}
}
@media only screen and (max-width: 768px) {
	.titlefontsm {
		font-size: 27pt;
		font-weight: bolder;
	}
	.imagesm {
		width: 25%;
		height: auto;
	}
	.iconssm {
		font-size: 19pt;
	}

	.dogappimg {
		width: 60%;
		height: auto;
	}
}
